body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-container, .blog-container {
    display: none;
    margin: 20px;
}

#loginPage {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    
}

header h1 {
    margin: 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.blog-post img {
    width: 100%;
    max-width: 600px;
}

#commentInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#commentsSection {
    margin-top: 20px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.error-message {
    color: red;
    font-size: 14px;
}

#logoutBtn {
    background-color: #d9534f;
}